input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    left: 8px;
    bottom: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 
label {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
}

label:before {
    content: " ";
    color: #000;
    display: inline-block;
    /* шрифт Awesome*/
    font: 14px/18px FontAwesome;
    margin-right: 10px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 16px;
    height: 16px;
    border: solid 1px #d4d1d1;
    border-radius: 2px;
    background: #ffffff;
    border-image: initial;
    vertical-align: middle;
}
 
input:checked + label:before {
    /* глифон - галочка */
    content: "\f00c";
}
 
input:disabled + label:before {
    background: #eee;
    color: #aaa;
}